<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Brand</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_brand}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Months Tracked</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_content}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Special Thanks</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">Python, Django, Youtube, Stack Overflow & Ofcourse Me ;)</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>